@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111111;
    color: azure;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}
.container{
    height: 1000px;
    margin: 5% 0%;
    margin-right: 5%;
}

.header {
    background-color: black;
    color: azure;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 5%;


}
main{
    
    width: 60%;
    float: left;
    height:100%;
}
aside{
    width: 40%;
    float: left;
    height:100%;
    
}
main .user{
    margin-bottom: 50px;
    background-color: #252525;
    padding: 20px;
}
.action-icons{
    display: block;
    margin-top: 3%;
    color: rgb(75, 77, 82);
    

}

main .delete-icon{
    cursor: pointer;
    transform: scale(2);
    margin-left: 5%;


}
main .edit-icon{
    cursor: pointer;
    transform: scale(2);
    margin-left: 5%;

}
main .like-icon{
    cursor: pointer;
    transform: scale(2);
    margin-left: 5%;

}
main .edit-icon:hover,
main .delete-icon:hover,
main .like-icon:hover{
    opacity: 0.5;
    transform: scale(2.5);
}
form input, form textarea, form button{
    display: block;
    width: 70%;
    padding: 4% 7%;
    margin: 4% 2%;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: #949494;
    transform: scale(1);
    
        
}
form button{
    margin-top: 10%;
    background-color: #5a5a5a;
    width: 60%;

}
form button:hover{
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    opacity: 0.6;
}
.user form{
    margin-top: 5%;
    width: 60%;
    display: block;
    
}

.user form input, .user form textarea, .user form button{
    background-color: #94949431;
    padding: 3% 7%;
}
.user form button{
    width: 60%;
    background-color: #949494;
    
}